*~
.hydra
*pyc
datasets
*/datasets/
results
*/outputs/
outputs/*
/MUJOCO_LOG.TXT
wandb
*/experiments/*
/experiments_saved/
/experiments*
clip/
gpt/
bert/
logs/
outputs
*.symlink

*.mp4
libero.egg-info/
.vscode/

#by ztx
*.zip
*.png